
LW14-15/frontend/ion-metal-band/tsconfig.spec.json
LW14-15/frontend/ion-metal-band/tsconfig.json
LW14-15/frontend/ion-metal-band/tsconfig.app.json
LW14-15/frontend/ion-metal-band/src/zone-flags.ts
LW14-15/frontend/ion-metal-band/src/theme/variables.scss
LW14-15/frontend/ion-metal-band/src/test.ts
LW14-15/frontend/ion-metal-band/src/polyfills.ts
LW14-15/frontend/ion-metal-band/src/main.ts
LW14-15/frontend/ion-metal-band/src/index.html
LW14-15/frontend/ion-metal-band/src/global.scss
LW14-15/frontend/ion-metal-band/src/environments/environment.ts
LW14-15/frontend/ion-metal-band/src/environments/environment.prod.ts
LW14-15/frontend/ion-metal-band/src/assets/shapes.svg
LW14-15/frontend/ion-metal-band/src/assets/icon/favicon.png
LW14-15/frontend/ion-metal-band/src/app/users/users.page.ts
LW14-15/frontend/ion-metal-band/src/app/users/users.page.spec.ts
LW14-15/frontend/ion-metal-band/src/app/users/users.page.scss
LW14-15/frontend/ion-metal-band/src/app/users/users.page.html
LW14-15/frontend/ion-metal-band/src/app/users/users.module.ts
LW14-15/frontend/ion-metal-band/src/app/users/users-routing.module.ts
LW14-15/frontend/ion-metal-band/src/app/services/user.service.ts
LW14-15/frontend/ion-metal-band/src/app/services/user.service.spec.ts
LW14-15/frontend/ion-metal-band/src/app/services/member.service.ts
LW14-15/frontend/ion-metal-band/src/app/services/member.service.spec.ts
LW14-15/frontend/ion-metal-band/src/app/services/band.service.ts
LW14-15/frontend/ion-metal-band/src/app/services/band.service.spec.ts
LW14-15/frontend/ion-metal-band/src/app/members/members.page.ts
LW14-15/frontend/ion-metal-band/src/app/members/members.page.spec.ts
LW14-15/frontend/ion-metal-band/src/app/members/members.page.scss
LW14-15/frontend/ion-metal-band/src/app/members/members.page.html
LW14-15/frontend/ion-metal-band/src/app/members/members.module.ts
LW14-15/frontend/ion-metal-band/src/app/members/members-routing.module.ts
LW14-15/frontend/ion-metal-band/src/app/login/login.page.ts
LW14-15/frontend/ion-metal-band/src/app/login/login.page.spec.ts
LW14-15/frontend/ion-metal-band/src/app/login/login.page.scss
LW14-15/frontend/ion-metal-band/src/app/login/login.page.html
LW14-15/frontend/ion-metal-band/src/app/login/login.module.ts
LW14-15/frontend/ion-metal-band/src/app/login/login-routing.module.ts
LW14-15/frontend/ion-metal-band/src/app/interfaces/user.ts
LW14-15/frontend/ion-metal-band/src/app/interfaces/member.ts
LW14-15/frontend/ion-metal-band/src/app/interfaces/band.ts
LW14-15/frontend/ion-metal-band/src/app/home/home.page.ts
LW14-15/frontend/ion-metal-band/src/app/home/home.page.spec.ts
LW14-15/frontend/ion-metal-band/src/app/home/home.page.scss
LW14-15/frontend/ion-metal-band/src/app/home/home.page.html
LW14-15/frontend/ion-metal-band/src/app/home/home.module.ts
LW14-15/frontend/ion-metal-band/src/app/home/home-routing.module.ts
LW14-15/frontend/ion-metal-band/src/app/guards/auth-guard.guard.ts
LW14-15/frontend/ion-metal-band/src/app/guards/auth-guard.guard.spec.ts
LW14-15/frontend/ion-metal-band/src/app/components/member/member.component.ts
LW14-15/frontend/ion-metal-band/src/app/components/member/member.component.spec.ts
LW14-15/frontend/ion-metal-band/src/app/components/member/member.component.scss
LW14-15/frontend/ion-metal-band/src/app/components/member/member.component.html
LW14-15/frontend/ion-metal-band/src/app/components/band/band.component.ts
LW14-15/frontend/ion-metal-band/src/app/components/band/band.component.spec.ts
LW14-15/frontend/ion-metal-band/src/app/components/band/band.component.scss
LW14-15/frontend/ion-metal-band/src/app/components/band/band.component.html
LW14-15/frontend/ion-metal-band/src/app/component/user/user.component.ts
LW14-15/frontend/ion-metal-band/src/app/component/user/user.component.spec.ts
LW14-15/frontend/ion-metal-band/src/app/component/user/user.component.scss
LW14-15/frontend/ion-metal-band/src/app/component/user/user.component.html
LW14-15/frontend/ion-metal-band/src/app/app.module.ts
LW14-15/frontend/ion-metal-band/src/app/app.component.ts
LW14-15/frontend/ion-metal-band/src/app/app.component.spec.ts
LW14-15/frontend/ion-metal-band/src/app/app.component.scss
LW14-15/frontend/ion-metal-band/src/app/app.component.html
LW14-15/frontend/ion-metal-band/src/app/app-routing.module.ts
LW14-15/frontend/ion-metal-band/package.json
LW14-15/frontend/ion-metal-band/package-lock.json
LW14-15/frontend/ion-metal-band/karma.conf.js
LW14-15/frontend/ion-metal-band/ionic.config.json
LW14-15/frontend/ion-metal-band/e2e/tsconfig.json
LW14-15/frontend/ion-metal-band/e2e/src/app.po.ts
LW14-15/frontend/ion-metal-band/e2e/src/app.e2e-spec.ts
LW14-15/frontend/ion-metal-band/e2e/protractor.conf.js
LW14-15/frontend/ion-metal-band/angular.json
LW14-15/frontend/ion-metal-band/.eslintrc.json
LW14-15/frontend/ion-metal-band/.editorconfig
LW14-15/frontend/ion-metal-band/.browserslistrc
LW14-15/backend/src/test/java/com/igor/android/AndroidApplicationTests.java
LW14-15/backend/src/main/resources/application.properties
LW14-15/backend/src/main/java/com/igor/android/services/UserService.java
LW14-15/backend/src/main/java/com/igor/android/services/MemberService.java
LW14-15/backend/src/main/java/com/igor/android/services/BandService.java
LW14-15/backend/src/main/java/com/igor/android/repos/UserRepository.java
LW14-15/backend/src/main/java/com/igor/android/repos/MemberRepository.java
LW14-15/backend/src/main/java/com/igor/android/repos/BandRepository.java
LW14-15/backend/src/main/java/com/igor/android/models/User.java
LW14-15/backend/src/main/java/com/igor/android/models/Member.java
LW14-15/backend/src/main/java/com/igor/android/models/Band.java
LW14-15/backend/src/main/java/com/igor/android/controllers/UserController.java
LW14-15/backend/src/main/java/com/igor/android/controllers/MemberController.java
LW14-15/backend/src/main/java/com/igor/android/controllers/BandController.java
LW14-15/backend/src/main/java/com/igor/android/AndroidApplication.java
LW14-15/backend/pom.xml
LW14-15/backend/mvnw.cmd
LW14-15/backend/mvnw
LW14-15/backend/.mvn/wrapper/MavenWrapperDownloader.java
LW14-15/backend/.mvn/wrapper/maven-wrapper.properties
LW14-15/backend/.mvn/wrapper/maven-wrapper.jar
LW10/ion-metal-bands/src/app/service/shared-data.service.ts
LW10/ion-metal-bands/src/app/service/shared-data.service.spec.ts
LW10/ion-metal-bands/src/app/service/data-getter.service.ts
LW10/ion-metal-bands/src/app/members/members.page.ts
LW10/ion-metal-bands/src/app/members/members.page.spec.ts
LW10/ion-metal-bands/src/app/members/members.page.scss
LW10/ion-metal-bands/src/app/members/members.page.html
LW10/ion-metal-bands/src/app/members/members.module.ts
LW10/ion-metal-bands/src/app/members/members-routing.module.ts
LW10/ion-metal-bands/src/app/login/login.page.ts
LW10/ion-metal-bands/src/app/login/login.page.spec.ts
LW10/ion-metal-bands/src/app/login/login.page.scss
LW10/ion-metal-bands/src/app/login/login.page.html
LW10/ion-metal-bands/src/app/login/login.module.ts
LW10/ion-metal-bands/src/app/login/login-routing.module.ts
LW10/ion-metal-bands/src/app/interfaces/user.ts
LW10/ion-metal-bands/src/app/interfaces/member.ts
LW10/ion-metal-bands/src/app/interfaces/band.ts
LW10/ion-metal-bands/src/app/http-test/http-test.page.ts
LW10/ion-metal-bands/src/app/http-test/http-test.page.spec.ts
LW10/ion-metal-bands/src/app/http-test/http-test.page.scss
LW10/ion-metal-bands/src/app/http-test/http-test.page.html
LW10/ion-metal-bands/src/app/http-test/http-test.module.ts
LW10/ion-metal-bands/src/app/http-test/http-test-routing.module.ts
LW10/ion-metal-bands/src/app/home/home.page.ts
LW10/ion-metal-bands/src/app/home/home.page.html
LW10/ion-metal-bands/src/app/guards/auth.guard.ts
LW10/ion-metal-bands/src/app/guards/auth.guard.spec.ts
LW10/ion-metal-bands/src/app/data-sender/data-sender.page.ts
LW10/ion-metal-bands/src/app/data-sender/data-sender.page.spec.ts
LW10/ion-metal-bands/src/app/data-sender/data-sender.page.scss
LW10/ion-metal-bands/src/app/data-sender/data-sender.page.html
LW10/ion-metal-bands/src/app/data-sender/data-sender.module.ts
LW10/ion-metal-bands/src/app/data-sender/data-sender-routing.module.ts
LW10/ion-metal-bands/src/app/components/member/member.component.ts
LW10/ion-metal-bands/src/app/components/member/member.component.spec.ts
LW10/ion-metal-bands/src/app/components/member/member.component.scss
LW10/ion-metal-bands/src/app/components/member/member.component.html
LW10/ion-metal-bands/src/app/components/band/band.component.ts
LW10/ion-metal-bands/src/app/app.module.ts
LW10/ion-metal-bands/src/app/app-routing.module.ts
