<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Common info
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Common info</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card calss="welcome-card">
    <img src="https://st3.depositphotos.com/13194036/i/600/depositphotos_189004542-stock-photo-smiling-handsome-student-holding-copybook.jpg" alt="">
    <ion-card-header>
      <ion-card-title>Ihor Larchenko</ion-card-title>
      <ion-card-subtitle>Info</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Group:</strong> 301</p>
      <p><strong>Department:</strong> Computer science</p>
      <p><strong>Speciality:</strong> Computer science</p>
    </ion-card-content>
  </ion-card>

</ion-content>
