<div class="row valigh-wrapper">
	<div class="col m3 offset-m3 s6 center-align">
		<h5>{{ band.name }}</h5>
	</div>
	<div class="col m3 s6 center-align">
		<a class="btn-floating waves-effect waves-light blue" (click)="showInfo=!showInfo">
		<i *ngIf="showInfo" class="material-icons">
			keyboard_arrow_up
		</i>
		<i *ngIf="!showInfo" class="material-icons">
			keyboard_arrow_down
		</i>
		</a>
		<a [routerLink] = "'/members/'+ band.name" class="btn-floating waves-effect waves-light blue-grey">
			<i class="material-icons">
				view_headline
			</i>
		</a>
	</div>
</div>
<div class="info" *ngIf="showInfo">
	<div class="input-field">
		<input id="name" [(ngModel)]="band.name" type="text" class="validate">
		<label for="name" class="active">Band name</label>
	</div>
	<div class="input-field">
		<input id="genre" [(ngModel)]="band.country" type="text" class="validate">
		<label for="genre" class="active">Country</label>
	</div>
	<div class="input-field">
		<input id="producer" [(ngModel)]="band.genre" type="text" class="validate">
		<label for="producer" class="active">Metal Genre</label>
	</div>
	<div class="input-field">
		<input id="mark" [(ngModel)]="band.creation_year" type="text" class="validate">
		<label for="mark" class="active">Year of creation</label>
	</div>
	<a class="rem-row btn-floating waves-effect waves-light red" (click)="remBand()">
		<i class="material-icons">delete</i>
	</a>
</div>