<ion-header>
  <ion-toolbar>
    <ion-title>Http Test</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refreshData($event)">
    <ion-refresher-content
                    pullingIcon="arrow-dropdown"
                    pullingText="Pull to refresh"
                    pefreshingSpinner="circles"
                    refreshingtext="Refreshing...">

    </ion-refresher-content>
  </ion-refresher>
  <ion-button margin color="primary" (click)="getData()">
    <ion-icon margin-end name="cloud-download"></ion-icon>
    Click me
  </ion-button>
  <ion-list>
    <ion-card *ngFor="let post of posts">
      <ion-card-header>
        <ion-card-title>{{post.title}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{post.body}}
      </ion-card-content>
    </ion-card>
  </ion-list>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="addData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
